
.lbox {
	border-style : solid;
	border-color: #BBBBBB;
	border-width: 1px;
	border-radius: 5px;
	height:70% !important;
	min-height: 300px !important;
	overflow:auto;
	
	
}
#dropZone{
	visibility : hidden;
	position: absolute;
	height:300px; 
	z-index: 2;
}

#incomingChatMessages {
	margin: 0 10;
}

#incomingChatMessages li{
	list-style: none;
	padding: 4px ;
	border-bottom: 1px solid #ddd;

}
	
.image{
	max-height: 95%;
}


.drag {
	
	background-color:#D9D9D9 ;
	border-style: dotted;
	opacity : 0.3; 
	
	
}
#conference{
	
	width: auto;
	
}
#hangUp{
	position: absolute;
}
 .conference {
 	float:left;
 	margin-left: 5px;

 }
.buttons{
	vertical-align: middle;
}
.files {
	float:left;
	width: 60px;
	padding : 5px;

}
.file{
	cursor: pointer;
}
.console {
	clear:both;
}
